recursive-include insanic *.py
include LICENSE
include README.rst
include CHANGELOG.rst
exclude fixtures
exclude commands
exclude *.png
exclude insanic_ascii
exclude tests
exclude tests/intest
graft .github
recursive-exclude tests *.py
